{{define "userbar"}}
<div class="wrapper_user-bar">
    {{if .IsAuthenticated}}
        <div class="user-bar">
            <div class="user-bar-interface">

                <div class="user-bar-role-info">
                    <img src="/static/img/ava/user.png" alt="ava">
                    <p>{{.Username}}<br> <span>{{cap .UserRole}}</span></p>
                </div>
                <div class="interface-options">
                    <ul>

                        <li> 
                            <a class="interface-link" href="/post/myPosts">
                                <img src="/static/img/svg/my-posts.svg" alt="my-posts-icon">My posts
                            </a>
                        </li>
                        <li> 
                            <a class="interface-link" href="/post/myReacted">
                                <img src="/static/img/svg/like-dislike.svg" alt="liked-icon">Liked/disliked posts
                            </a>
                        </li>
                        <li> 
                            <a class="interface-link" href="/post/myCommented">
                                <img src="/static/img/svg/commented-post.svg" alt="commented-post"> Commented posts
                            </a>
                        </li>
                        <li> 
                            <div class="notifications-link">
                            <a class="interface-link" href="/user/notifications">
                                <img src="/static/img/svg/notification.svg" alt="notification-icon"> Notifications
                            </a>
                            {{if ne .NotificationsCount 0}}
                                {{if gt .NotificationsCount 99}}
                                    <button class="notifications" disabled="">+99</button>
                                {{else}}
                                    <button class="notifications" disabled="">+{{.NotificationsCount}}</button>
                                {{end}}
                            {{end}}
                            
                        </div>
                        </li>
                        
                        {{if eq .UserRole "user"}}
                            <div class="moderator-link">
                                <script src="/static/js/promote_err.js"></script>
                                <a class="interface-link" href="/user/promote" id="promote">
                                    <img src="/static/img/svg/moderator.svg" alt="moderator-icon"> Become Moderator
                                </a>
                            </div>
                        {{end}}

                        {{if eq .UserRole "admin"}}
                            <li> 
                                <a class="interface-link" href="/admin/requests">
                                    <img src="/static/img/svg/requests.svg" alt="requests-icon"> Requests
                                </a>
                            </li>

                            <li> 
                                <a class="interface-link" href="/admin/reports">
                                    <img src="/static/img/svg/notification.svg" alt="requests-icon"> Reports
                                </a>
                            </li>

                            <li> 
                                <a class="interface-link" href="/admin/tags">
                                    <img src="/static/img/svg/notification.svg" alt="notification-icon"> Edit tags
                                </a>
                            </li>

                            <li> 
                                <a class="interface-link" href="/admin/users">
                                    <img src="/static/img/svg/notification.svg" alt="notification-icon"> Users
                                </a>
                            </li>
                        {{end}}
                    </ul>
                    <form action="/post/create" method="GET">
                        <button id="make-post-button" class="light-button">Create new post</button>
                    </form>
                </div>

            </div>
        </div>
    {{else}}

    <div class="user-bar">

        <form class="loginQuery">
            <div class="user-bar-sign-up" id="SignUp">
                <h1>Welcome back!</h1>
                <input class="dark-input" type="text" placeholder="Email or username" name="identifier" required
                    autocomplete="off">
                <input class="dark-input" type="password" placeholder="Password" name="password" required>
                <button class="light-button" type="submit">Sign in</button>
                <p class="error-msg"></p>
                <div class="user-bar-line"></div>
        </form>


        <form action="/login/google">
            <button class="dark-button"><img src="/static/img/svg/Google_logo.svg" alt="Google_logo">Google</button>
        </form>

        <form action="/login/github">
            <button class="dark-button"><img src="/static/img/svg/github_logo.svg" alt="github_logo">GitHub</button>
        </form>

        <a class="user-bar-link" id="SignUpBtn" href="#">Don`t have an account?<span> Sign up
                now</span> </a>
    </div>

    <form class="singupQuery">
        <div class="user-bar-register" id="SignIn">
            <h1>Sign up</h1>
            <input class="dark-input" type="text" placeholder="Username" name="username" required minlength="3"
                autocomplete="off">
            <input class="dark-input" type="text" placeholder="Email" name="email" required autocomplete="off">
            <input class="dark-input" type="password" placeholder="Password" name="password" required minlength="8">
            <button class="light-button" type="submit">Sign up</button>
            <p class="error-msg"></p>
            <div class="user-bar-line"></div>
            <a class="user-bar-link" id="SignInBtn" href="#">Already have an account? <span>Sign
                    in</span>
            </a>
        </div>
    </form>


    <script src="/static/js/register.js"></script>
</div>
{{end}}

</div>


{{end}}