{{define "userbar"}}
<div class="wrapper_user-bar">
    {{if .IsAuthenticated}}
    <div class="user-bar">
        <div class="user-bar-interface">

            <div class="user-bar-role-info">
                <img src="/static/img/ava/user.png" alt="ava">
                <p>{{.Username}}<br> <span>User</span></p>
            </div>
            <div class="interface-options">
                <ul>
                    <li> <a class="interface-link" href="/post/myPosts">
                            <img src="/static/img/svg/my-posts.svg" alt="my-posts-icon">My posts
                        </a></li>
                    <li> <a class="interface-link" href="/post/myReacted">
                            <img src="/static/img/svg/like-dislike.svg" alt="liked-icon">Liked/disliked posts
                        </a></li>
                    <!-- <li> <a class="interface-link" href="#">
                            <img src="/static/img/svg/commented-post.svg" alt="commented-post"> Commented posts
                        </a></li>
                    <li> <a class="interface-link" href="#">
                            <img src="/static/img/svg/notification.svg" alt="notification-icon"> Notifications
                        </a></li>
                    <li> <a class="interface-link" href="#">
                            <img src="/static/img/svg/requests.svg" alt="requests-icon"> Requests
                        </a></li>
                    <li> <a class="interface-link" href="#">
                            <img src="/static/img/svg/moderator.svg" alt="moderator-icon"> Become Moderator
                        </a></li> -->
                </ul>
                <form action="/post/create" method="get">
                    <button id="make-post-button" class="light-button">Create new post</button>
                </form>
            </div>

        </div>
    </div>

    {{else}}

    <div class="user-bar">

        <form class="loginQuery">
            <div class="user-bar-sign-up" id="SignUp">
                <h1>Welcome back!</h1>
                <input class="dark-input" type="text" placeholder="Email or username" name="identifier" required autocomplete="off">
                <input class="dark-input" type="password" placeholder="Password" name="password" required>
                <button class="light-button" type="submit">Sign in</button>
                <p class="error-msg"></p>
                <div class="user-bar-line"></div>
                <!-- <button class="dark-button" disabled><img src="/static/img/svg/Google_logo.svg"
                        alt="Google_logo">Google</button>
                <button class="dark-button" disabled><img src="/static/img/svg/github_logo.svg"
                        alt="github_logo">GitHub</button> -->
                <a class="user-bar-link" id="SignUpBtn" href="#">Don`t have an account?<span> Sign up
                        now</span> </a>
            </div>
        </form>

        <form class="singupQuery"> 
            <div class="user-bar-register" id="SignIn">
                <h1>Sign up</h1>
                <input class="dark-input" type="text" placeholder="Username" name="username" required minlength="3" autocomplete="off">
                <input class="dark-input" type="text" placeholder="Email" name="email" required autocomplete="off">
                <input class="dark-input" type="password" placeholder="Password" name="password" required minlength="8">
                <button class="light-button" type="submit">Sign up</button>
                <p class="error-msg"></p>
                <div class="user-bar-line"></div>
                <!-- <button class="dark-button" disabled><img src="/static/img/svg/Google_logo.svg"
                        alt="Google_logo">Google</button>
                <button class="dark-button" disabled><img src="/static/img/svg/github_logo.svg"
                        alt="github_logo">GitHub</button> -->
                <a class="user-bar-link" id="SignInBtn" href="#">Already have an account? <span>Sign
                        in</span>
                </a>
            </div>
        </form>


        <script src="/static/js/register.js"></script>
    </div>
    {{end}}

</div>


{{end}}