{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>{{template "title" .}} - Idearoom</title>
</head>

<body>
    <header>
        <h1><a href="/">Idearoom</a></h1>
    </header>

    <hr>
    {{template "nav" .}}
    <hr>

    <main>
        {{with .Flash}}
            <div style="border: 3px; color: green;">{{.}}</div>
        {{end}}
        {{template "main" .}}
    </main>
    <hr>

    <footer>
        Contact us - <a href="https://01.alem.school/git/msarvaro">msarvaro</a> or
        <a href="https://01.alem.school/git/nmagau">nmagau</a>
    </footer>
</body>

</html>
{{end}}