{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.svg">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/msgerr.js" defer></script>
    <!-- <script src="/static/js/like.js" defer></script> -->
    <script src="/static/js/modal.js" defer></script>
    <title>{{template "title" .}}</title>
</head>

<body>
    <header class="header">

        <div class="wrapper">
            <div class="header_wrapper">
                <!-- logo-->
                <div class="header_logo">
                    <a href="/" class="header_logo-link">
                        <img src="/static/img/svg/logo.svg" alt="Rabbit" class="header_logo-pic">
                    </a>
                </div>
                <!-- log-in button-->
                {{if .IsAuthenticated}}
                <form action="/user/logout" method="POST">

                    <button class="logBtn">Log out</button>

                </form>
                {{else}}

                <button class="Btn logBtn" data-modal="signin">Log in</button>

                {{end}}

            </div>
        </div>

    </header>

    <!-- <hr>
    {{template "nav" .}}
    <hr> -->
    <div class="wrapper_main">
        {{template "topics" .}}

        <main>
            {{template "main" .}}

        </main>

        {{template "userbar" .}}
        <dialog id="signin" class="Mymodal">

            <div class="wrapper_user-bar">
                <div class="user-bar">

                    <form class="loginQuery">
                        <div class="user-bar-sign-up" id="SignUpP">
                            <h1>Welcome back!</h1>
                            <input class="dark-input" type="text" placeholder="Email" name="identifier" autocomplete="off">
                            <input class="dark-input" type="password" placeholder="Password" name="password">
                            <button class="light-button" type="submit">Sign in</button>
                            <p class="error-msg"></p>
                            <div class="user-bar-line"></div>
                            <!-- <button class="dark-button" disabled><img src="/static/img/svg/Google_logo.svg"
                                    alt="Google_logo">Google</button>
                            <button class="dark-button" disabled><img src="/static/img/svg/github_logo.svg"
                                    alt="github_logo">GitHub</button> -->
                            <a class="user-bar-link" id="SignUpBtnP" href="#">Don`t have an account?<span> Sign up
                                    Now</span> </a>
                        </div>
                    </form>

                    <form class="singupQuery"> 
                        <div class="user-bar-register" id="SignInP">
                            <h1>Sign up</h1>
                            <input class="dark-input" type="text" placeholder="Username" name="username" autocomplete="off">
                            <input class="dark-input" type="text" placeholder="Email" name="email" autocomplete="off">
                            <input class="dark-input" type="password" placeholder="Password" name="password">
                            <button class="light-button" type="submit">Sign up</button>
                            <p class="error-msg"></p>
                            <div class="user-bar-line"></div>
                            <!-- <button class="dark-button" disabled><img src="/static/img/svg/Google_logo.svg"
                                    alt="Google_logo">Google</button>
                            <button class="dark-button" disabled><img src="/static/img/svg/github_logo.svg"
                                    alt="github_logo">GitHub</button> -->
                            <a class="user-bar-link" id="SignInBtnP" href="#">Already have an account? <span>Sign
                                    in</span>
                            </a>
                        </div>
                    </form>

                </div>

            </div>


            <script src="/static/js/register_modal.js"></script>
        </dialog>
    </div>

</body>

</html>
{{end}}