{{define "title"}}Create new post{{end}}

{{define "main"}}
<script src="/static/js/create.js"></script>

<form action="/post/create" method="POST" id="postForm">
    <div class="base">

        <div class="post-feed">
            <!-- post -->

            <div class="post">
                <div class="make-post-content">

                    <p class="error-msg"></p>

                    <label for="">Title</label>
                    <input class="white-input" type="text" name="title">
                    <label for="">Content</label>
                    <textarea class="white-text-area" type="text" spellcheck="false" name="content"></textarea>
                    <div class="check-box-topics">
                        {{range .Models.Tags}}
                        <input type="checkbox" name="tags" value="{{.ID}}">
                        <label for="tags">{{.Name}}</label>
                        {{end}}

                    </div>
                    
                    <div class="user-bar-line"></div>
                    <div class="confirm-section">
                        <button class="light-button">Submit</button>
                        <!-- <button class="dark-button">Cancel</button> -->
                    </div>

                </div>
            </div>

        </div>

    </div>
</form>
{{end}}