{{define "title"}}Create new post{{end}}

{{define "main"}}
    <form action="/post/create" method="POST">
        <div>
            <label for="title">Title:</label>
            {{with .Form.FieldErrors.title}}
                <div style="color: red;">
                    <label>{{.}}</label>
                </div>
            {{end}}
            <input type="text" id="title" name="title" value="{{.Form.Title}}" placeholder="Someone claims that...">
        </div>

        <div>
            <label for="content">Content:</label>
            {{with .Form.FieldErrors.content}}
                <div style="color: red;">
                    <label>{{.}}</label>
                </div>
            {{end}}
            <textarea type="text" id="content" name="content" rows="10" cols="50" value="{{.Form.Content}}" placeholder="Love is here..." required></textarea>
        </div>
        
        <div>
            <input type="submit" value="Create">
        </div>
    </form>
{{end}}