{{define "title"}}Create new post{{end}}

{{define "main"}}
    <h2>New post</h2>

    <form action="/post/create" method="POST">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" placeholder="Someone claims that...">
        </div>

        <div>
            <label for="content">Content:</label>
            <textarea type="text" id="content" name="content" rows="10" cols="50" placeholder="Love is here..." required></textarea>
        </div>

        <div>
            <label for="tags">Tags:</label>
            <select id="tags" name="tags" multiple>
                {{range .Models.Tags}}
                    <option value="{{.ID}}">{{.Name}}</option>
                {{end}}
            </select>
        </div>
        
        <div>
            <input type="submit" value="Create">
        </div>
    </form>
{{end}}