{{define "title"}} Edit Comment{{end}}

{{define "main"}}

<div class="base">
    <div class="post-feed">
        <div class="feed-message-wrapper">
            <div class="comment-frame">
                <form action="/post/comment/edit/{{with index .Models.Post.Comments 0}}{{.ID}}{{end}}" method="POST" id="commentForm">
                    <p class="error-msg"></p>
                    <br>
                    <textarea class="white-text-area" name="commentContent" id="usercomment" type="text" minlength="1"
                        maxlength="500" spellcheck="false" required>{{with index .Models.Post.Comments 0}}{{.Content}}{{end}}</textarea>
                    <button class="light-button">Edit Comment</button>
                </form>
            </div>
        </div>
    </div>
</div>


{{end}}