{{define "title"}} Login {{end}}

{{define "main"}}
    <div>
        <h2>Login</h2>
        <form action="/user/login" method="POST">
            {{range .Form.NonFieldErrors}}
                <div style="color: red;">
                    <label>{{.}}</label>
                </div>
            {{end}}
            <div>
                <label for="identifier">Username/Email:</label>
                {{with .Form.FieldErrors.identifier}}
                    <div style="color: red;">
                        <label>{{.}}</label>
                    </div>
                {{end}}
                <input type="text" id="identifier" name="identifier" value="{{.Form.Identifier}}">
            </div>
            <div>
                <label for="password">Password:</label>
                {{with .Form.FieldErrors.password}}
                    <div style="color: red;">
                        <label>{{.}}</label>
                    </div>
                {{end}}
                <input type="password" id="password" name="password">
            </div>
            <div>
                <input type="submit" value="login">
            </div>
        </form>
    </div>
{{end}}