{{define "title"}} Signup {{end}}

{{define "main"}}
    <h2>Signup</h2>

    <form action="/user/signup" method="POST">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Nah">
        </div>
        
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" placeholder="nah@gmail.com">
        </div>
    
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>

        <div>
            <input type="submit" value="Signup">
        </div>
    </form>
{{end}}