{{define "title"}} Rabbit {{end}}

{{define "main"}}
    <div class="base">
        <div class="post-feed">
            {{if .Models.Tags}}
                    {{range .Models.Tags}}
                        <div class="feed-message-wrapper">
                            <div class="feed-message-frame">
                                <div class="feed-message-left">
                                    <div class="feed-message-from">
                                        <p>{{.Name}}</p>
                                    </div>
                                </div>
                                <div class="ok-frame">
                                    <form action="/admin/tags/delete/{{.ID}}" method="POST">
                                        <button class="ok-button" id="like">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {{end}}
            {{else}}
                <p>No tags yet!</p>
            {{end}}
            <form action="/admin/tags/create" method="POST">
            <div class="feed-message-wrapper">
                    <div class="comment-frame">
                        <textarea class="white-text-area" id="usercomment" name="newTag" type="text" minlength="3" maxlength="30"
                            spellcheck="false"></textarea>
                        <button class="light-button">Add tag</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{end}}