<!-- new -->
{{define "title"}} Rabbit {{end}}

{{define "main"}}

<div class="base">
    <!-- post feed-->
    <div class="post-feed">
        <!-- users -->
        <!-- add range loop -->
        <div class="feed-message-wrapper">
            <div class="feed-message-frame">
                <div class="feed-message-left">
                    <div class="feed-message-from">
                        <p>User001</p>
                    </div>
                </div>
                <div class="ok-frame">

                    <!-- if user -->
                    <button class="ok-button" id="like">Promote
                    </button>
                    <!-- else  -->
                    <button class="ok-button" id="like">Demote
                    </button>
                </div>
            </div>

        </div>


    </div>

</div>
{{end}}