{{define "title"}} Post #{{.Models.Post.Id}}{{end}}

{{define "main"}}
    <div class="post">

        {{with .Models.Post}}
            <div style="background-color: bisque;">
                <h2>Title: {{.Title}}</h2>
                <h3>Author: {{.Username}}</h3>
            </div>
            <div style="background-color: beige; width: 400px; margin: 0 auto;">
                <h3>Content:</h3>
                <p style="text-align: center;">{{.Content}}</p>
            </div>
            <div>
                <form action="/post/like/{{.Id}}" method="POST">
                    <input type="submit" value="Like">
                </form>
                <form action="/post/dislike/{{.Id}}" method="POST">
                    <input type="submit" value="Dislike">
                </form>
            </div>
        {{end}}

        {{if .IsAuthenticated}}
            <form action="/post/comment/{{.Models.Post.Id}}" method="POST">
                <div>
                    <label for="commentContent"></label>
                    {{with .Form.FieldErrors.commentContent}}
                    <div style="color: red;">
                        <label>{{.}}</label>
                    </div>
                    {{end}}
                    <input type="text" name="commentContent" id="commentContent" value="{{.Form.Content}}" placeholder="Nice post!...">

                    <div style="color: green;">
                        <input type="submit" value="->">
                    </div>
                </div>
            </form>
        {{end}}

        <div>Comments:</div>
        <div>
            {{range .Models.Comments}}
                <h3>{{.Username}}</h3>
                <div>
                    <pre>{{.Content}}</pre>
                </div>
            {{end}}
        </div>
    </div>
{{end}}