header h2 {
    color: blue;
}

body {
    text-align: center;
    min-height: 100vh;
}

div {
    margin: 10px;
}

footer {
    background-color: aliceblue;
    padding: 10px;
    position: sticky;
    bottom: 0;
}